@model ProyectoFinal.Models.Usuario

@{
    ViewData["Title"] = "Home";
}

<h1>Bienvenido(a)</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Hola: @Model.NombreUsuario</p>

    @if (Model.ImagenPerfil != null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(Model.ImagenPerfil)" alt="Imagen de Perfil" width="100" height="100" />
    }
    else
    {
        <p>Sin imagen de perfil</p>
    }

    <a asp-action="ProductoView" asp-controller="Producto" class="btn btn-primary">Ver Productos</a>
}
else
{
    <p>No hay un usuario autenticado.</p>
}
